<h1>About This Site</h1>

<p>
  This site uses Google's profanity API, exposed through Google's <i>What do you love?</i> site (<%= link_to "wdyl.com/profanity?q=foo", "http://wdyl.com/profanity?q=foo" %>).  There are some obvious shortcomings, such as leaving out whitespaces, but oh well.  This was a short, half-hour project.  Oh, and it's built on Rails.  Yep.  Way overkill for this site.  Start the criticism now.
</p>

<p>
  As for any use of profanity on the site, I hope it doesn't offend you.  That said, it's pretty silly that we live in a society where we pick out certain words and give them greater strength than others because we deem them "profane."  Why do we (as a society) deem <i>shit</i> to be profane and not <i>poop</i>, when they're essentially identical in denotation?  (disclaimer: apparently Google is playing it extra safe and is deeming them both profane.)  Anyway, this site is just for fun.
</p>
<p>
  Try not to take the interwebs too seriously.
</p>

<p>
  Hacked together by <%= link_to "Chris Yuska", "http://chrisyuska.com" %>
</p>

<%= link_to "Back", url_for(:back) %>
