<h1><%= link_to "Is it profanity?", "/" %></h1>

<% if @response.present? %>
  <p>
    <% if @response == "true" %>
      <p>Yep!</p>
      <p class="small_text">According to Google, "<%= @q %>" can be classified as profanity.</p>
    <% else %>
      <p>Nope!</p>
      <p class="small_text">According to Google, "<%= @q %>" contains no profanity.</p>
    <% end %>
<% end %>

<%= render 'form' %>
